{{ encore_entry_link_tags('appMainMenuCart') }}
<div id="appMainMenuCart"></div>
<script>
    if (typeof window.staticStore === 'undefined') {
        window.staticStore = {};
    }
    window.staticStore.urlCart = '{{ path('_api_/carts{._format}_get_collection') }}';
    window.staticStore.urlViewProduct = '{{ path('app_product_show_blank') }}';
    window.staticStore.urlCartProduct = '{{ path('_api_/cart_products{._format}_get_collection') }}';
    window.staticStore.urlAssetImageProducts = '{{ asset('uploads/images/products')}}';
    window.staticStore.urlOrder = '{{ path('_api_/orders{._format}_get_collection') }}';
    window.staticStore.urlViewCart = '{{ path('app_cart_show') }}';
</script>
{{ encore_entry_script_tags('appMainMenuCart') }}